<?xml version="1.0" ?>
<SkinTemplates xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Skins>
		<SkinTemplate SkinID="LuxInteriorLight" Skin="LuxInteriorLight" />
		<SkinTemplate SkinID="LuxInteriorDark" Skin="LuxInteriorDark" />
		<SkinTemplate SkinID="LightyBlue" Skin="LightyBlue" />
		<SkinTemplate SkinID="MTClean" Skin="MTClean" />
		<SkinTemplate SkinID="MTTrendy" Skin="MTTrendy" />
		<SkinTemplate SkinID="MTGABlue" Skin="MTGABlue" />
		<SkinTemplate SkinID="MTRusty" Skin="MTRusty" />
		<SkinTemplate SkinID="HabaHaba" Skin="HabaHaba" />
		<SkinTemplate SkinID="Isolation" Skin="Isolation" />
		<SkinTemplate SkinID="ClearScreen01" Skin="ClearScreen01" />
		<SkinTemplate SkinID="WinXPBlue" Skin="WinXPBlue" />
		<SkinTemplate SkinID="WinXPOlive" Skin="WinXPOlive" />
		<SkinTemplate SkinID="WinXPSilver" Skin="WinXPSilver" />
		<SkinTemplate SkinID="anothereon001" Skin="AnotherEon001" />
		<SkinTemplate SkinID="lighty" Skin="Lighty" />
		<SkinTemplate SkinID="blue" Skin="blue" />
		<SkinTemplate SkinID="hover" Skin="Hover" />
		<SkinTemplate SkinID="white" Skin="white" />
		<SkinTemplate SkinID="Cogitation" Skin="Cogitation" />
		<SkinTemplate SkinID="gertrude-custom" Skin="gertrude" />
		<SkinTemplate SkinID="gertrude-blue" Skin="gertrude" SecondaryCss="blue.css" />
		<SkinTemplate SkinID="gertrude-red" Skin="gertrude" SecondaryCss="red.css" />
		<SkinTemplate SkinID="gertrude-green" Skin="gertrude" SecondaryCss="green.css" />
		<SkinTemplate SkinID="marvin2-custom" Skin="marvin2" />
		<SkinTemplate SkinID="marvin2-green" Skin="marvin2" SecondaryCss="green.css" />
		<SkinTemplate SkinID="marvin2-blue" Skin="marvin2" SecondaryCss="blue.css" />
		<SkinTemplate SkinID="marvin2-red" Skin="marvin2" SecondaryCss="red.css" />
		<SkinTemplate SkinID="marvin2-pink" Skin="marvin2" SecondaryCss="pink.css" />
		<SkinTemplate SkinID="marvin2-vibrant" Skin="marvin2" SecondaryCss="vibrant.css" />
		<SkinTemplate SkinID="marvin2-brown" Skin="marvin2" SecondaryCss="brown.css" />
		<SkinTemplate SkinID="marvin3-green" Skin="marvin3" SecondaryCss="green.css" />
		<SkinTemplate SkinID="marvin3-blue" Skin="marvin3" SecondaryCss="blue.css" />
		<SkinTemplate SkinID="marvin3-red" Skin="marvin3" SecondaryCss="red.css" />
		<SkinTemplate SkinID="marvin3-brown" Skin="marvin3" SecondaryCss="brown.css" />
		<SkinTemplate SkinID="marvin3-pink" Skin="marvin3" SecondaryCss="pink.css" />
		<SkinTemplate SkinID="marvin3-vibrant" Skin="marvin3" SecondaryCss="vibrant.css" />
		<SkinTemplate SkinID="marvin3-custom" Skin="marvin3" />
	</Skins>
</SkinTemplates>
