<?xml version="1.0"?>
<ArrayOfSiteBlogConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SiteBlogConfig>
    <BlogID>-1</BlogID>
    <ItemCount>40</ItemCount>
    <IsAggregated>false</IsAggregated>
    <IsActive>true</IsActive>
    <Title>首页</Title>
    <Skin>
      <SkinName>AggSite</SkinName>
      <SkinPath>~/</SkinPath>
      <ControlPath>~/AggSite/</ControlPath>
      <TeamplateFile>Template.ascx</TeamplateFile>
    </Skin>
    <Author>博客园</Author>
    <InOpml>true</InOpml>
    <IsDefault>true</IsDefault>
  </SiteBlogConfig>
  <SiteBlogConfig>
    <BlogID>-2</BlogID>
    <ItemCount>40</ItemCount>
    <IsAggregated>false</IsAggregated>
    <IsActive>true</IsActive>
    <Title>最新评论区</Title>
    <Skin>
      <SkinName>AggSite</SkinName>
      <SkinPath>~/</SkinPath>
      <ControlPath>~/AggSite/</ControlPath>
      <TeamplateFile>CommentsTemplate.ascx</TeamplateFile>
    </Skin>
    <Author>博客园</Author>
     <CategoryID>-1</CategoryID>
    <InOpml>true</InOpml>
    <PostType>Comment</PostType>
  </SiteBlogConfig>
</ArrayOfSiteBlogConfig>