<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BlogConfigurationSettings" type="Dottext.Framework.Util.XmlSerializerSectionHandler, Dottext.Framework"/>
    <section name="HandlerConfiguration" type="Dottext.Framework.Util.XmlSerializerSectionHandler, Dottext.Framework"/>
    <section name="SearchConfiguration" type="Dottext.Framework.Util.XmlSerializerSectionHandler, Dottext.Framework"/>
    <section name="microsoft.web.services" type="Microsoft.Web.Services.Configuration.WebServicesConfiguration, Microsoft.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="codeHighlighter" type="ActiproSoftware.CodeHighlighter.CodeHighlighterConfigurationSectionHandler, ActiproSoftware.CodeHighlighter"/>
  </configSections>
  <microsoft.web.services>
    <security>
      <!--<securityTokenManager type="Dottext.Web.ServiceAPI.Security.UsernameTokenManager, Dottext.Web.ServiceAPI" xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/12/secext" qname="wsse:UsernameToken" />-->
    </security>
  </microsoft.web.services>
  <SearchConfiguration type="Dottext.Search.SearchConfiguration, Dottext.Search" urlFormat="http://{0}/{1}/{2}/{3}.aspx" virtualPath="~/SearchIndex" physicalPath="\SearchIndex" domains="localhost" pageSize="20"/>
  <BlogConfigurationSettings type="Dottext.Framework.Configuration.BlogConfigurationSettings, Dottext.Framework">
    <Tracking enableAggBugs="true" enableWebStats="true" queueStats="false" queueStatsCount="3" enableTrackBacks="false" enablePingBacks="false" pingWeblogs="false"/>
    <EntryHandlers>
      <EntryHandler type="Dottext.Framework.EntryHandling.CommentFormatHandler, Dottext.Framework" postType="Comment" processAction="Insert" processState="PreCommit" isAsync="false"/>
      <EntryHandler type="Dottext.Framework.EntryHandling.CommentDeliveryHandler, Dottext.Framework" postType="Comment" processAction="Insert" processState="PostCommit" isAsync="true"/>
      <EntryHandler type="Dottext.Framework.EntryHandling.EntryValidationHandler, Dottext.Framework" postType="BlogPost Article" processAction="Insert Update" processState="PreCommit" isAsync="false"/>
      <!--<EntryHandler type="Dottext.Framework.EntryHandling.WeblogsPingHandler, Dottext.Framework" postType = "BlogPost" processAction ="Insert Update" processState="PostCommit" isAsync="true" />-->
      <EntryHandler type="Dottext.Framework.EntryHandling.TrackBackHandler, Dottext.Framework" postType="BlogPost Article" processAction="Insert Update" processState="PostCommit" isAsync="false"/>
      <EntryHandler type="Dottext.Framework.EntryHandling.KeyWordHandler, Dottext.Framework" postType="BlogPost Article" processAction="Insert Update" processState="PreCommit" isAsync="false"/>
      <!--<EntryHandler type="Dottext.Framework.EntryHandling.WebServicePostHandler, Dottext.Framework" postType = "BlogPost Article" processAction ="Insert" processState="PreCommit" isAsync="false" />-->
    </EntryHandlers>
    <!-- 
      An event is a configuration for a Dottext.Framework.ScheduledEvents.IEvent. The type property must specify a class which implements
      IEvent. You must also specify a unqiue key for each event and either a mintues interval value or timeOfDay value (both int). Interval is how often
      the event should occur. timeOfDay is the absolute time in minutes. 0 = 12:00 am, 720 = noon, 785 = 1:06 pm.
      
      The first "walk through" will happen 1 minute after an application restart, and then every five minutes.
    -->
    <Events>
      <!--<Event type = "Dottext.Search.SearchEngineSchedule, Dottext.Search" minutes = "5" key = "SearchEngine" />-->
      <Event type="Dottext.Framework.Tracking.StatsQueueSchedule, Dottext.Framework" minutes="5" key="StatsQueue"/>
    </Events>
    <BlogProviders>
      <!-- Controls how .Text formats Urls -->
      <UrlFormatProvider type="Dottext.Framework.Format.UrlFormats, Dottext.Framework"/>
      <DTOProvider type="Dottext.Framework.Data.DataDTOProvider, Dottext.Framework"/>
      <!-- 
          By default .Text uses SQL Server as the backend data store. The DbProvider determines which DbProvider
          (a class which implements IDbProvider) is used. This is optional. 
      -->
      <DbProvider type="Dottext.Framework.Data.SqlDataProvider, Dottext.Framework" connectionString="user id=sa;password=asdf;initial Catalog=DotTextData;Data Source=dudu"/>
      <ConfigProvider type="Dottext.Common.Config.MultipleBlogConfig, Dottext.Common" host="localhost" cacheTime="120"/>
      <!--
      <ConfigProvider type = "AspNetWeb.MSBlogsConfigProvider, MsftBlogsHttpModule" 
        cacheTime = "120"/>
      -->
      <!-- Controls how .Text sends email. By default, SystemMail is used. -->
      <EmailProvider type="Dottext.Framework.Email.SystemMail, Dottext.Framework" smtpServer="localhost" adminEmail="EMAIL"/>
    </BlogProviders>
    <!-- Checkout DottextHelper for hashing passwords -->
    <UseHashedPasswords>true</UseHashedPasswords>
    <!-- Globally control access to web services -->
    <AllowServiceAccess>true</AllowServiceAccess>
    <AllowImages>true</AllowImages>
    <!-- Globally control use of XHTML -->
    <UseXHTML>false</UseXHTML>
    <ItemCount>25</ItemCount>
    <!-- Server Time Zone -->
    <ServerTimeZone>+8</ServerTimeZone>
    <!-- 网站分类选择方式:true-单选 false-多选 -->
    <GlobalCategorySingleSelect>true</GlobalCategorySingleSelect>
    <!-- 分类级别(1或2) -->
    <CategoryDepth>1</CategoryDepth>
    <!-- Url的扩展名 -->
    <UrlFormat>html</UrlFormat>
    <!-- 是否允许所有用户上传文件 -->
    <EnableAllUserUpload>true</EnableAllUserUpload>
    <!-- 站点Logo图片 -->
    <Logo/>
    <!-- 登录是否使用验证码 -->
    <EnableLoginAuhenCode>false</EnableLoginAuhenCode>
    <!-- 匿句用户发表评论是否使用验证码 -->
    <EnableFeedBackAuhenCode>false</EnableFeedBackAuhenCode>
  </BlogConfigurationSettings>
  <appSettings>
    <!-- Admin Stuff -->
    <add key="Admin.DefaultTemplate" value="~/Admin/Resources/PageTemplate.ascx"/>
    <add key="Admin.DownlevelTemplate" value="~/Admin/Resources/PageTemplate.ascx"/>
    <add key="Admin.Logo" value="~/Admin/Resources/adminlogo.gif"/>
    <add key="Admin.DefaultContent" value="PageContent"/>
    <!-- Aggregate Blog Stuff -->
    <add key="AggregateTitle" value="CNBlogs DotText"/>
    <!--UI Text -->
    <add key="PostCollection" value="随笔分类"/>
    <add key="ArticleCollection" value="文章分类"/>
    <add key="FavoriteCollention" value="收藏夹"/>
    <add key="ImageCollection" value="相册"/>
    <add key="Archives" value="档案"/>
    <!--Upload Files Config-->
    <add key="OnceUploadLimit" value="2000"/>
    <add key="TotalUploadLimit" value="10000"/>
    <add key="UploadPath" value="Files"/>
    <add key="UploadFileType" value="(\.zip|\.rar)$"/>
    <add key="ImageSize" value="2000"/>
    <add key="ImageType" value="(\.jpg|\.gif|\.png|\.bmp)$"/>
    <add key="PostContentLength" value="4000"/>
    <add key="HtmlFilter" value="h1,h2,h3,bgsound"/>
    <add key="IPFilter" value=""/>
  </appSettings>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="Microsoft.Web.Services.WebServicesExtension, Microsoft.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
    <!-- .Text is not yet globalized. This should keep things clean for now -->
    <globalization/>
    <!--We do not use session in .Text -->
    <sessionState mode="InProc"/>
    <!--<trace enabled="true" requestLimit="10000" pageOutput="true" traceMode="SortByTime" localOnly="true"/>-->
    <!-- We allow larger uploads in the galleries -->
    <httpRuntime executionTimeout="900" maxRequestLength="50200" useFullyQualifiedRedirectUrl="false"/>
    <!-- We check all comment/public inputs -->
    <pages validateRequest="false" autoEventWireup="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation defaultLanguage="c#" debug="false" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly" defaultRedirect="error.aspx"/>
    <authentication mode="Forms">
      <forms name=".DottextCookie" loginUrl="login.aspx" protection="All" timeout="90"/>
    </authentication>
    <httpHandlers>
      <!-- Can not see to load asmx like .aspx, since we will grap all requests later, make sure these are processed by their default factory -->
      <!--Since we are grabbing all requests after this, make sure Error.aspx does not rely on .Text -->
      <add verb="*" path="Error.aspx" type="System.Web.UI.PageHandlerFactory"/>
      <!--This will process any ext mapped to aspnet_isapi.dll -->
      <add verb="*" path="*" type="Dottext.Common.UrlManager.UrlReWriteHandlerFactory,Dottext.Common"/>
    </httpHandlers>
    <httpModules>
      <add name="UrlReWriteModule" type="Dottext.Common.UrlManager.UrlReWriteModule, Dottext.Common"/>
      <add name="EventHttpModule" type="Dottext.Framework.ScheduledEvents.EventHttpModule, Dottext.Framework"/>
      <!--<add name="MsftBlogsHttpModule" type= "AspNetWeb.MsftBlogsHttpModule, MsftBlogsHttpModule" />-->
    </httpModules>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
  <HandlerConfiguration defaultPageLocation="default.aspx" type="Dottext.Common.UrlManager.HandlerConfiguration, Dottext.Common">
    <HttpHandlers>
      <HttpHandler pattern="(\.config|\.asax|\.ascx|\.config|\.cs|\.vb|\.vbproj|\.asp|\.licx|\.resx|\.resources)$" type="Dottext.Framework.UrlManager.HttpForbiddenHandler, Dottext.Framework" handlerType="Direct"/>
      <HttpHandler pattern="(\.gif|\.js|\.jpg|\.zip|\.jpeg|\.jpe|\.css|\.rar|\.xml|\.xsl)$" type="Dottext.Common.UrlManager.BlogStaticFileHandler, Dottext.Common" handlerType="Direct"/>
      <HttpHandler pattern="/rss\.aspx$" type="Dottext.Common.Syndication.RssHandler, Dottext.Common" handlerType="Direct"/>
      <HttpHandler pattern="/CommentsRSS\.aspx$" type="Dottext.Common.Syndication.RecentCommentsRSS, Dottext.Common" handlerType="Direct"/>
      <HttpHandler pattern="/RecentCommentsRSS\.aspx$" type="Dottext.Common.Syndication.RecentCommentsRSS, Dottext.Common" handlerType="Direct"/>
      <HttpHandler pattern="/atom\.aspx$" type="Dottext.Common.Syndication.AtomHandler, Dottext.Common" handlerType="Direct"/>
      <HttpHandler pattern="/comments/commentRss/\d+\.aspx$" type="Dottext.Common.Syndication.RssCommentHandler, Dottext.Common" handlerType="Direct"/>
      <HttpHandler pattern="/aggbug/\d+\.aspx$" type="Dottext.Framework.Tracking.AggBugHandler, Dottext.Framework" handlerType="Direct"/>
      <HttpHandler pattern="/customcss\.aspx$" type="Dottext.Web.UI.Handlers.BlogSecondaryCssHandler, Dottext.Web" handlerType="Direct"/>
      <HttpHandler pattern="/category\/(\d|\w|\s)+\.aspx/rss$" type="Dottext.Common.Syndication.RssCategoryHandler, Dottext.Common" handlerType="Direct"/>
      <HttpHandler pattern="/favorite\/(\d|\w|\s)+\.aspx/rss$" type="Dottext.Common.Syndication.RssLinksHandler, Dottext.Common" handlerType="Direct"/>
      <HttpHandler pattern="/articles/\d+\.aspx$" controls="viewpost.ascx,Comments.ascx,AnonymousPostComment.ascx,LoginPostComment.ascx"/>
      <HttpHandler pattern="/articles/\w+\.aspx$" controls="viewpost.ascx,Comments.ascx,AnonymousPostComment.ascx,LoginPostComment.ascx"/>
      <HttpHandler pattern="/PreviewPost.aspx$" controls="PreviewPost.ascx"/>
      <HttpHandler pattern="/archive/\d{4}/\d{2}/\d{2}/\d+\.(aspx|htm)$" controls="viewpost.ascx,Comments.ascx,AnonymousPostComment.ascx,LoginPostComment.ascx"/>
      <HttpHandler pattern="/archive/\d{4}/\d{2}/\d{2}/\w+\.(aspx|htm)$" controls="viewpost.ascx,Comments.ascx,AnonymousPostComment.ascx,LoginPostComment.ascx"/>
      <HttpHandler pattern="/archive/\d{4}/\d{1,2}/\d{1,2}\.aspx$" controls="ArchiveDay.ascx"/>
      <HttpHandler pattern="/archive/\d{4}/\d{1,2}\.aspx$" controls="ArchiveMonth.ascx"/>
      <HttpHandler pattern="/archives/\d{4}/\d{1,2}\.aspx$" controls="ArticleArchiveMonth.ascx"/>
      <HttpHandler pattern="/contact\.aspx$" controls="Contact.ascx"/>
      <HttpHandler pattern="/AddToFavorite\.aspx$" handlerType="Page" pageLocation="AddToFavorite.aspx"/>
      <HttpHandler pattern="/BlogSearch\.aspx$" controls="BlogSearch.ascx"/>
      <HttpHandler pattern="/posts/|/story/|/archive/" type="Dottext.Web.UI.Handlers.RedirectHandler,Dottext.Web" handlerType="Direct"/>
      <HttpHandler pattern="/gallery\/\d+\.aspx$" controls="GalleryThumbNailViewer.ascx"/>
      <HttpHandler pattern="/gallery\/image\/\d+\.aspx$" controls="ViewPicture.ascx"/>
      <HttpHandler pattern="/(?:category|stories)/(\w|\s)+\.aspx$" controls="CategoryEntryList.ascx"/>
      <HttpHandler pattern="/favorite/(\w|\s)+\.aspx$" controls="FavoriteList.ascx"/>
      <HttpHandler pattern="/(?:admin)" type="Dottext.Web.UI.Handlers.BlogExistingPageHandler, Dottext.Web" handlerType="Factory"/>
      <!--<HttpHandler pattern = "^(?:\/(\w|\s|\.(?!aspx))+((\/login\.aspx)?|(\/?))?)$" type = "Dottext.Web.UI.Handlers.BlogExistingPageHandler, Dottext.Web" handlerType = "Factory" />-->
      <!--<HttpHandler pattern = "^(?:/\w+\/(\w|\s|\.)+\/(?:admin|logout\.aspx|login\.aspx))" type = "Dottext.Web.UI.Handlers.BlogExistingPageHandler, Dottext.Web" handlerType = "Factory" />-->
      <HttpHandler pattern="/comments\/\d+\.aspx$" type="Dottext.Common.Syndication.CommentHandler, Dottext.Common" handlerType="Direct"/>
      <HttpHandler pattern="/services\/trackbacks/\d+\.aspx$" type="Dottext.Framework.Tracking.TrackBackHandler, Dottext.Framework" handlerType="Direct"/>
      <HttpHandler pattern="/services\/pingback\.aspx$" type="Dottext.Framework.Tracking.PingBackService, Dottext.Framework" handlerType="Direct"/>
      <HttpHandler pattern="/services\/metablogapi\.aspx$" type="Dottext.Framework.XmlRpc.MetaWeblog, Dottext.Framework" handlerType="Direct"/>
      <HttpHandler pattern="/Services\/SyncHanlder\.aspx$" handlerType="Page" pageLocation="Sevices/DottextAPI.aspx"/>
      <!-- 只显示文章标题列表 -->
      <!--<HttpHandler pattern="^((/default\.aspx)|(/)|(/index\.aspx))$" controls="CategoryPostsList.ascx" />-->
      <!-- 显示文章内容 -->
      <HttpHandler pattern="^((/default\.aspx)|(/)|(/index\.aspx))$" controls="PagedPosts.ascx"/>
      <HttpHandler pattern="^(/posts\.aspx)$" controls="PagedPosts.ascx"/>
      <!--<HttpHandler pattern = "/services/\w+.asmx$" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"  handlerType = "Factory" />-->
      <HttpHandler pattern="^(?:\/(\w|\s|\.(?!aspx))+((\/default\.aspx)?|(\/?))?)$" controls="homepage.ascx"/>
      <!--<HttpHandler pattern="^(?:/\w+\/(\w|\s|\.(?!aspx))+((\/default\.aspx)?|(\/?))?)$" controls="homepage.ascx" />-->
    </HttpHandlers>
  </HandlerConfiguration>
  <codeHighlighter>
    <cache languageTimeout="3"/>
    <languages>
      <language key="C#" definitionPath="~/Languages/ActiproSoftware.CSharp.xml" semanticParserType="CodeHighlighterTest.SemanticCSharpParser, CodeHighlighterTest"/>
      <language key="CSS" definitionPath="~/Languages/ActiproSoftware.CSS.xml" semanticParserType="CodeHighlighterTest.SemanticCssParser, CodeHighlighterTest"/>
      <language key="HTML" definitionPath="~/Languages/ActiproSoftware.HTML.xml" semanticParserType="CodeHighlighterTest.SemanticHtmlParser, CodeHighlighterTest"/>
      <language key="JScript" definitionPath="~/Languages/ActiproSoftware.JScript.xml"/>
      <language key="SQL" definitionPath="~/Languages/ActiproSoftware.SQL.xml" semanticParserType="CodeHighlighterTest.SemanticSqlParser, CodeHighlighterTest"/>
      <language key="VB.NET" definitionPath="~/Languages/ActiproSoftware.VBDotNet.xml" semanticParserType="CodeHighlighterTest.SemanticVBDotNetParser, CodeHighlighterTest"/>
      <language key="VBScript" definitionPath="~/Languages/ActiproSoftware.VBScript.xml" semanticParserType="CodeHighlighterTest.SemanticVBDotNetParser, CodeHighlighterTest"/>
      <language key="XML" definitionPath="~/Languages/ActiproSoftware.XML.xml"/>
    </languages>
    <outlining enabled="true" imagesPath="~/Images/OutliningIndicators/"/>
    <spacesInTabs count="4"/>
  </codeHighlighter>
</configuration>