<?xml version="1.0"?>
<SkinConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Common>
    <SkinItem ControlName="MyLinks.ascx"  CacheKey="None" ParentControl="LeftColumn" UseSpacer = "false"  />
    <SkinItem ControlName="News.ascx"  CacheKey="None"  ParentControl="LeftColumn" UseSpacer = "false" />
    <SkinItem ControlName="SingleColumn.ascx"  CacheKey="Control"  ParentControl="LeftColumn" UseSpacer = "false" CacheTime = "120" CacheItemPriority = "High"/>
    <SkinItem ControlName="Login.ascx"  CacheKey="None"  ParentControl="LeftColumn" UseSpacer = "false"/>
   </Common>
  <Pages>
    <SkinPage Name="Dottext.WebUI.Pages.BlogHomePage">
      <Controls>
        <SkinItem ControlName="HomePage.ascx" ParentControl="pageBody"  CacheKey = "ControlPage" CacheTime = "30" CacheItemPriority = "AboveNormal" />
      </Controls>
    </SkinPage>
    <SkinPage Name="Dottext.WebUI.Pages.BlogArchiveDay">
      <Controls>
        <SkinItem ControlName="ArchiveDay.ascx" ParentControl="pageBody" CacheKey = "ControlPage" CacheTime = "30" CacheItemPriority = "AboveNormal"  />
      </Controls>
    </SkinPage>
    <SkinPage Name="Dottext.WebUI.Pages.BlogArchiveMonth">
      <Controls>
        <SkinItem ControlName="ArchiveMonth.ascx" ParentControl="pageBody" CacheKey = "ControlPage" CacheTime = "30"  />
      </Controls>
    </SkinPage>    
    <SkinPage Name="Dottext.WebUI.Pages.BlogCategoryPage">
      <Controls>
        <SkinItem ControlName="StoryList.ascx" ParentControl="pageBody" CacheKey = "ControlPage" CacheTime = "30" />
      </Controls>
    </SkinPage>    `
    <SkinPage Name="Dottext.WebUI.Pages.BlogPostsPage">
      <Controls>
        <SkinItem ControlName="viewpost.ascx" ParentControl="pageBody" CacheKey = "ControlPage" CacheTime = "60" />
        <SkinItem ControlName="Comments.ascx" ParentControl="pageBody" CacheKey="ControlPage" CacheTime = "15" CacheItemPriority = "Low"/>
        <SkinItem ControlName="PostComment.ascx" ParentControl="pageBody" CacheKey="None" />
      </Controls>
    </SkinPage>
    <SkinPage Name="Dottext.WebUI.Pages.BlogContactPage">
      <Controls>
        <SkinItem ControlName="Contact.ascx" ParentControl="pageBody" CacheKey = "None" />
      </Controls>
    </SkinPage>      
    <SkinPage Name="Dottext.WebUI.Pages.BlogStoryPage">
      <Controls>
        <SkinItem ControlName="viewstory.ascx" ParentControl="pageBody" CacheKey = "ControlPage" CacheTime = "60" />
        <SkinItem ControlName="Comments.ascx" ParentControl="pageBody" CacheKey="ControlPage" CacheTime = "15" CacheItemPriority = "Low"/>
        <SkinItem ControlName="PostComment.ascx" ParentControl="pageBody" CacheKey="None" />
      </Controls>
    </SkinPage>       
    <SkinPage Name="Dottext.WebUI.Pages.BlogImageGalleryPage">
      <Controls>
        <SkinItem ControlName="GalleryThumbNailViewer.ascx" ParentControl="pageBody" CacheKey = "ControlPage" CacheTime = "15"/>
      </Controls>
    </SkinPage>            
    <SkinPage Name="Dottext.WebUI.Pages.BlogImagePage">
      <Controls>
        <SkinItem ControlName="ViewPicture.ascx" ParentControl="pageBody" CacheKey = "ControlPage" CacheTime = "15" />
      </Controls>
    </SkinPage>            
  </Pages>
</SkinConfig>
