<?xml version="1.0" encoding="utf-8" ?>
<Navigation>
	<OtherNode/>
	<RootPage title="Root" id="NEVER" url="#">
	  <Page title="Posts" id="Dottext.Web.Admin.Pages.EditPosts" url="EditPosts.aspx" />
		<Page title="ImportFromRSS" id="Dottext.Web.Admin.Pages.ImportFromRSS" url="ImportFromRSS.aspx" />
	  <Page title="Articles" id="Dottext.Web.Admin.Pages.EditArticles" url="EditArticles.aspx" />
	  <Page title="Galleries" id="Dottext.Web.Admin.Pages.EditGalleries" url="EditGalleries.aspx" />
	  <Page title="Galleries" id="Dottext.Web.Admin.Pages.EditImage" url="EditGalleries.aspx" />
	  <Page title="Filess" id="Dottext.Web.Admin.Pages.Files" url="Files.aspx" />
	  <Page title="Stats" id="Dottext.Web.Admin.Pages.Statistics" url="Statistics.aspx">
		<Page title="Views" id="Dottext.Web.Admin.Pages.StatsView" url="StatsView.aspx" />
		<Page title="Referrers" id="Dottext.Web.Admin.Pages.Referrers" url="Referrers.aspx" />
	  </Page>
	  <Page title="Feedback" id="Dottext.Web.Admin.Pages.Feedback" url="Feedback.aspx" />
	  <Page title="Links" id="Dottext.Web.Admin.Pages.EditLinks" url="EditLinks.aspx" />
	  <Page title="收藏" id="Dottext.Web.Admin.Pages.EditFavorite" url="EditFavorite.aspx" />
	  <Page title="Options" id="Dottext.Web.Admin.Pages.Options" url="Options.aspx">
		<Page title="Configure" id="Dottext.Web.Admin.Pages.Configure" url="Configure.aspx" />
		<Page title="Preferences" id="Dottext.Web.Admin.Pages.EditPreferences" url="Preferences.aspx" />
		<Page title="Key Words" id="Dottext.Web.Admin.Pages.EditKeyWords" url="EditKeyWords.aspx" />
		<Page title="Password" id="Dottext.Web.Admin.Pages.Password" url="Password.aspx" />
	  </Page>
	  <Page title="订阅" id="Dottext.Web.Admin.Pages.MySubscibe" url="MySubscibe.aspx" />
	 <Page title="ManageSite" id="Dottext.Web.Admin.Pages.ManageSite" url="ManageSite.aspx" />
	</RootPage>
</Navigation>